.board-columns {
    display: flex;
    padding: 0;
}

.board-column {
    background: #0F151B;
    border-radius: 20px;
    padding: 5px 20px 10px 20px;
    margin: 10px 0 10px 10px;
    min-width: 220px;
    min-height: 94vh;
}

.status-title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
}

.status-title.done {
    border-bottom: 2px solid #83cf83;
}

.status-title.rejected {
    border-bottom: 2px solid #bc5656;
}

.column-add-task-btn {
    background-color: #122B454D;
    border-radius: 8px;
    padding: 8px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    font-weight: 100;
    width: 100%;
    cursor: pointer;
}

.column-add-task-btn:hover {
    background-color: rgba(30, 64, 99, 0.3);

}

.add-column-button {
    font-family: Inter, sans-serif;
    font-size: 14px;
    color: white;
    background: none;
    border-radius: 16px;
    border: 2px solid #172c41;
    padding: 8px 4px 4px 8px;
    font-weight: 300;
    margin: 10px 30px 10px -10px;
}

.add-column-button:hover {
    background-color: #1a2d40;
}

.add-status-column {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;

}
.create-status-form {
    background-color: #122b43;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 400px;
    padding: 0 20px 10px 20px;
    border-radius: 10px;
}

.create-status-form h4 {
    font-size: 20px;
}

.create-status-form input[type="text"] {
    padding: 6px;
    margin-bottom: 6px;
    background-color: #141f29;
    color: white;
    border: none;
    border-radius: 5px;
}
.create-status-form label {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 10px;
    margin-left: -20px;
}
.create-status-form input[type="checkbox"] {
    width: 14px;
    margin-left: 22px;
    margin-right: 8px;
}

.create-status-form button {
    background-color: #2c3a54;
    font-size: 16px;
    color: #dcdcdc;
    width: 50%;
    padding: 4px 8px;
    border-radius: 8px;
}
